body {
    font-family:sans-serif;
    font-size: 25px;
}

.list {
    font-size: 20px;
    color: black;
    position: sticky;
}

.sublist {
    font-size: 15px;
    color: dimgray
}

.small {
    font-size: 12px;
}